@media(max-width: 1200px) {
    .menu {
        &_item {
            padding-right: 25px;
        }

        &_link {
            font-size: 14px;
        }
    }

    .promo {
        &_header {
            font-size: 50px;
        }
    }

    .reasons .reasons_block {
        .reasons_descr {
            max-width: 300px;
        }
    }
}